{erl_opts, [
    debug_info,
    nowarn_export_all
]}.

{deps, [
    {iso8601, {git, "https://github.com/serge2/iso8601.git", {branch, "master"}}},
    {decimal, {git, "https://github.com/serge2/decimal.git", {branch, "master"}}}
]}.

{xref_checks, [noexports_not_used]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [matcher]}
]}.

{profiles, [
    {test, [
        {erl_opts, [
            export_all
        ]}
    ]}
]}.